<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold"><a href="/">
                                <h3>烟叶霉变智能监测平台</h3>
                            </a></span>
                    </a>
                </div>
            </li>
            <li>
                <a href="/warehouse/mange"><i class="fa fa-bank"></i> <span class="nav-label">仓库管理</span></a>
            </li>
            <li>
                <a href="/user"><i class="fa fa-user-circle"></i> <span class="nav-label">用户管理</span></a>
            </li>
        </ul>

    </div>
</nav>